html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: Arial,sans-serif;
    font-size: 100%;
    vertical-align: baseline;
}
html {
    overflow: hidden;
    overflow-y: auto;
    background-color: #f7f7f7;
    font-size: 90%;
    -webkit-text-size-adjust: 100%;
}

.text-grey {
    color: #545454;
}
a {
    text-decoration: none;
}
a:hover, a:focus {
    color: #1a0dab;
}
a:hover {
    text-decoration: underline;
}
.forecast-wrapper {
    margin-bottom: 10px
}

.forecast-wrapper .forecast-container {
    line-height: initial;
    margin-bottom: 5px;
    border: 1px solid #dbdbdb;
    overflow-x: hidden;
    background: #fff;
    max-width: 635px;
}

.forecast-wrapper .forecast-container .detailed-block {
    padding: 20px 20px 0 20px
}

.forecast-wrapper .forecast-container .hourly-block {
    padding: 0 20px 19px
}

.forecast-wrapper .forecast-container .location-block {
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap
}

.forecast-wrapper .forecast-container .weather-detailed {
    vertical-align: top;
    height: auto;
    display: inline-block;
    width: 50%
}

.forecast-wrapper .forecast-container .hourly-chart {
    height: 62px;
    width: 100%;
    margin-top: 5px
}

.forecast-wrapper .forecast-container .weather-detailed_left {
    min-width: 143px;
    padding-right: 10px
}

.forecast-wrapper .forecast-container .weather-detailed_right {
    max-width: 100%;
    width: auto;
    margin-top: 10px;
    display: inline-block;
    font-size: 1em;
    line-height: 18px
}

.forecast-wrapper .forecast-container .weather-winds,.forecast-wrapper .forecast-container .weather-humidity {
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.forecast-wrapper .forecast-container .weather-humidity {
    margin-bottom: 1px
}

.forecast-wrapper .forecast-container .weather-winds-value {
    text-transform: uppercase
}

.forecast-wrapper .forecast-container .weather-desc {
    min-height: 39px;
    margin-bottom: 2px
}

.forecast-wrapper .forecast-container .weather-summary {
    font-size: 1em;
    margin: 4px 0 2px;
    width: 100;
    text-transform: capitalize;
}


.forecast-wrapper .forecast-container .more-link {
    font-weight: bold;
    color: #1a0dab;
}

.forecast-wrapper .forecast-container .weather-detailed-icon {
    vertical-align: top;
    height: 64px;
    display: inline-block;
    width: 64px;
    margin-right: 5px;
    margin-left: -5px;
    margin-top: -1px
}


.forecast-wrapper .forecast-container .weather-temperature {
    vertical-align: top;
    height: 64px;
    display: inline-block;
    margin-right: 12px
}

.forecast-wrapper .forecast-container .weather-temperature-units {
    vertical-align: top;
    height: 60px;
    display: inline-block;
    margin-left: 5px;
    padding-top: 10px
}

.forecast-wrapper .forecast-container .weather-temperature-value {
    vertical-align: top;
    height: 60px;
    display: inline-block;
    font-size: 44px;
    font-weight: 600;
    padding-top: 4px;
    text-align: right
}


.forecast-wrapper .forecast-container .weather-temperature-unit {
    font-size: 1em;
    line-height: 1.43;
    font-weight: 600;
    text-decoration: none
}

.forecast-wrapper .forecast-container .weather-temperature-unit,.forecast-wrapper .forecast-container .weather-temperature-unit:hover {
    color: #000000
}

.forecast-wrapper .forecast-container .weather-temperature-unit:not(.weather-temperature-unit-active),.forecast-wrapper .forecast-container .weather-temperature-unit:not(.weather-temperature-unit-active):hover {
    color: #878787
}

.forecast-wrapper .forecast-container .weather-temperature-unit-sep {
    margin-left: 4px
}

.forecast-wrapper .forecast-container .weather-temperature-unit-active {
    font-weight: 600;
    border-bottom: 1px solid #000000
}
.forecast-wrapper .forecast-container .hourly-labels-wrapper {
    overflow: hidden;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    margin-bottom: -5px;
    display: -webkit-flex;
    display: flex
}

.forecast-wrapper .forecast-container .hourly-label {
    text-align: center;
    margin-top: 10px
}



.forecast-wrapper .forecast-container .hourly-temp-label {
    font-weight: 600
}

.forecast-wrapper .forecast-container .align-daily {
    display: -webkit-flex;
    display: flex;
    white-space: nowrap;
    overflow-y: hidden
}

.forecast-wrapper .forecast-container .weekly-daily-item {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-flex-basis: content;
    flex-basis: content;
    vertical-align: top;
    height: 32px;
    display: inline-block;
    text-align: center;
    min-width: 65px;
    -webkit-flex: 1;
    flex: 1
}

.forecast-wrapper .forecast-container .forecast-daily {
    -webkit-overflow-scrolling: touch;
    overflow-style: move
}

.forecast-wrapper .forecast-container .weekly-daily-item {
    height: 143px;
    border-top: 1px solid #e0e0e0
}

.forecast-wrapper .forecast-container .weekly-daily-item:not(:last-child) {
    border-right: 1px solid #e0e0e0
}

.forecast-wrapper .forecast-container .daily-day {
    font-size: 1em;
    font-weight: 600;
    text-transform: capitalize;
    padding-top: 20px;
    line-height: 100%
}


.forecast-wrapper .forecast-container .daily-temp {
    font-weight: normal;
    font-size: 1em;
    line-height: 100%
}

.forecast-wrapper .forecast-container .daily-temp-high {
    font-weight: 600;
    font-size: 17px
}

.forecast-wrapper .forecast-container .daily-temp-low {
    margin-top: 5px
}

.forecast-wrapper .forecast-container .daily-icon {
    width: 48px;
    height: 48px;
    margin-top: 3px;
    margin-bottom: 0
}

.forecast-wrapper .forecast-container .weekly-daily-item:last-child {
    border-right: 0
}

.forecast-wrapper .forecast-container .weekly-daily-item:hover {
    background-color: #f6f6f6;
    cursor: pointer
}

.forecast-wrapper .forecast-container .weekly-daily-item.active {
    background-color: #f7f7f7;
    border-top: 1px solid #000000
}

.forecast-wrapper .forecast-container .weekly-daily-item.active .daily-temp-low {
    color: #000000
}
@media (max-width: 590px) {

    .forecast-wrapper .forecast-container .weather-detailed-icon {
        height: 48px;
        width: 48px;
        vertical-align: top;
        margin-right: -10px;
        margin-top: -2px
    }

    .forecast-wrapper .forecast-container .weather-detailed_right {
        margin-top: 5px
    }

    .forecast-wrapper .forecast-container .weather-detailed .weather-temperature {
        height: 48px;
        vertical-align: top;
        margin-right: 0;
        margin-left: 10px
    }

    .forecast-wrapper .forecast-container .weather-detailed .weather-temperature-units {
        vertical-align: top;
        padding-top: 7.5px
    }

    .forecast-wrapper .forecast-container .weather-detailed .weather-temperature-value {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: 48px;
        *vertical-align: auto;
        zoom:1;*display: inline;
        font-size: 32px;
        padding-top: 4px
    }

    .forecast-wrapper .forecast-container .weather-desc {
        min-height: 54px
    }
}